@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .wrap {
    @apply mx-auto px-4 flex flex-1 justify-center items-center w-full;
  }
  .content {
    @apply mx-14;
  }
}
